<link rel="stylesheet" href="shoe.scss">
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light&display=swap" rel="stylesheet">


<!-- search  -->
<div class="row">
  <h1 class='shoe1'> House of Shoe</h1>

<ul>

<h2 class="fit">Filter By:</h2>

  <%= form_tag "/shoes", method: 'get' do %>
    <%= label_tag :search %>
    <%= text_field_tag :search %>
    <%= label_tag :category %>
    <%= select_tag 'category', options_for_select([["None", "None"], ["Flip Flops", "Flip Flops"], ["Sneakers", 'Sneakers'], ["Heels", "Heels"], ["Pumps", "Pumps"], ["Boots", "Boots"], ["Flats", "Flats"]]) %>
    <%= label_tag :brand %>
    <%= select_tag 'brand', options_for_select([["None", "None"], ["Nike", "Nike"], ["Tory Burch", "Tory Burch"], ["Calvin Klein", "Calvin Klein"], ["Christian Louboutin", "Christian Louboutin"], ["Jimmy Choo", "Jimmy Choo"], ["Jorden", "Jorden"]]) %>
    <%= submit_tag 'search' %>
  <% end %>
  </ul>

  <!-- Show Flash Errors -->
  <% if flash[:notice]  %>
    <h3 style="color: red"><%= flash[:notice] %></h3>
  <% end %>

<% @shoes.each do |shoe| %>
  <div class="column">
    <img src=<%= "/assets/#{shoe.img_url}" %> alt="Snow" style="width:100%">
    <%= button_to "Like", {controller: 'likes', action: 'create', shoe_id: shoe.id} %><br>
    <%= shoe.brand %><br>
    <%= link_to shoe.title, shoe %><br>
    price: $<%= shoe.price %></li><br>
  </div>

  <% end %>

<br>
  <!-- <div>
    <br>
    <p> <%= link_to "Home", users_path %> </p>
    <p><%= link_to "All Shoes", shoes_path  %></p>
    <br>
    <br>
  </div> -->
</div>
<br>
<br>
<footer>
  <div class='container'>
    <br>
    <a><%= link_to "Home", users_path %></a>&nbsp;&nbsp;&nbsp;
    <a><%= link_to "All Shoes", shoes_path  %></a>
    <br>
    <br>
  </div>
</footer>
