<center><h1>Index Page of House of Shoe</h1></center>
<!-- search  -->
<ul>
<h2>Filter By:</h2>

  <%= form_tag "/shoes", method: 'get' do %>
    <%= label_tag :search %>
    <%= text_field_tag :search %>
    <%= label_tag :category %>
    <%= select_tag 'category', options_for_select([["None", "None"], ["Flip Flops", "Flip Flops"], ["Sneakers", 'sneaker'], ["Heels", "Heels"]]) %>
    <%= label_tag :brand %>
    <%= select_tag 'brand', options_for_select([["None", "None"], ["Nike", "Nike"], ["Tory Burch", "Tory Burch"], ["Calvin Klein", "Calvin Klein"]]) %>
    <%= submit_tag 'search' %>
  <% end %>
  </ul>

  <!-- Show Flash Errors -->
  <% if flash[:notice]  %>
    <h3 style="color: red"><%= flash[:notice] %></h3>
  <% end %>

<!-- List of all shoes  -->
<br>
  <% @shoes.each do |shoe| %>
  <ul>
    <%= image_tag shoe.img_url %>
    <li><%= button_to "Like", {controller: 'likes', action: 'create', shoe_id: shoe.id} %><br>
    <%= link_to shoe.brand, shoe %><br>
    <%=shoe.title %><br>
    price: $<%= shoe.price %></li><br>
</ul>
<% end %>
