<link rel="stylesheet" href="shoes.scss">
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy|Shadows+Into+Light&display=swap" rel="stylesheet">


<h1 class="shoe1"><%= @shoe.brand %> - <%= @shoe.title %></h1>
<ul>
    <img src=<%="/assets/#{@shoe.img_url}"%> alt="Snow" style="width:30%">
  <p>Description: <%= @shoe.description %> </p>
  <p>Category: <%= @shoe.category %> </p>
  <p>Price: $<%= @shoe.price %> </p>
</ul>

<ul>
  <p><%= link_to "All Shoes", shoes_path  %></p>
  <p> <%= link_to "Wish list", user_path(@user) %> </p>
  <p> <%= link_to "Home", users_path %> </p>
</ul>
