<!DOCTYPE html>
<html>
  <head>
    <title>ShoeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="description" content="House Of Shoes" />
    <meta name="title" property="og:title" content="HouseOfShoes" />
    <meta property="og:type" content="Website" />
    <meta 
          name="image" 
          property="og:image" 
          content="https://live.staticflickr.com/65535/51747977924_c9367d08fb.jpg" 
          />
    <meta 
          name="description" 
          property="og:description" 
          content="House Of Shoes" 
          />
    <meta name="author" content="Tanuka Das" />
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
    <%= yield %>
  </body>
</html>
